<footer>
  <div class="total" id="mainFooter">
    <div class="outer">
      <div class="item">
        <ul>
          <li>
            <a routerLink="about">About Us</a>
          </li>
          <li>
            <a routerLink="products/scarf">Scarves</a>
          </li>
          <li>
            <a routerLink="products/accessories">Accesories</a>
          </li>
        </ul>
      </div>
      <div class="item">
        <p>
          <a routerLink="contact">Contact Us</a>
        </p>
        <p>Follow Us On Media</p>
        <div id="social-icons">
          <a href="https://www.facebook.com/massahcollection/" class="fa fa-facebook"></a>
          <a href="https://twitter.com/massahco" class="fa fa-twitter"></a>
          <a href="https://www.instagram.com/massahc/" class="fa fa-instagram"></a>
        </div>
      </div>
    </div>
    <div class="container" id="subscribe">
      <p>Subscribe to our Newsletter!</p>
      <input #userEmail type="email" (keyup)="onKeyup($event)" placeholder="Enter your email address" style="width: 260px;">
      <button id="submitButton" (click)="submitEmail(); userEmail.value='';" class="btn btn-primary">Subscribe</button>
      <p id="errorMessage">
    </div>
    <hr>
    <p id="copyright">© 2017 Massah, Inc. All Rights Reserved</p>
  </div>
</footer>