<div class="outer">
  <div class="row">
    <div class="col-md-3 first">
      <ul>
        <li><a href="#"><p>About Us</p></a></li>
        <li><a href="#"><p>Scarves</p></a></li>
        <li><a href="#"><p>Accesories</p></a></li>
      </ul>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <li><a href="#"><p>Contact Us</p></a></li>
      <li><p>Follow Us On Media</p></li>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-youtube"></a>
      <a href="#" class="fa fa-instagram"></a>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <li><p>Subscribe</p></li>
      <input id="userEmail" type="email" placeholder="Enter your email address"><input type="submit">
    </div>
  </div>
  <hr>
  <p id="copyright">© 2017 Massah, Inc. All Rights Reserved</p>
</div>
