
h2{
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}
p{
  color: #788188;
  margin: 0 0 19.44444px;
  font-family: 'PT Sans', sans-serif;
}
.container{
  text-align: center;
  width: 700px;
  padding-bottom: 230px;
  flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
}
#signature{
  width: 200px;
  height: 50px;
  padding-bottom: 2%;
}
@media only screen and (max-width: 749px){p{font-size:0.9375em}}
