<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<h2>About Massah Collection</h2>
<div class="container">
  <img src="../src/resources/imgs/about.jpg" alt="">
  <hr>
  <p>
    Massah Collection is a trendsetting Online Clothing Store, offering our first-rate products and exceptional customer service to shoppers from the comfort of their own homes. We’re a business made up of innovators and forward-thinkers, with the drive and wherewithal to constantly update and improve the online shopping experience.
  </p>
  <img  id="signature" src="../src/resources/imgs/massah_signature.png" alt="signature">
  <br>
</div>
