<div class="flexinTwo container">

  <div class="electricBoogaloo panel panel-default">
    <img src={{productToDisplay.Image_Src}} alt="" width="300px" height="400px">
    <div class="panel-footer">
      <div id="detailsFooter"
      *ngIf="!displayContinueShoppingMessage">
        <h3 >{{productToDisplay.Title}}</h3>
        <button class="showDetails"(click)="printBody($event)" name="button">Show Details...</button>
        <p id="homies"></p>
        <h4>${{productToDisplay.Variant_Price}}.00</h4>
        <button type="button" (click)="addToCart()"
        class="btn btn-warning" >Add to cart</button>
        <button type="button" class="btn btn-info" (click)="continueShoppingWasClicked()">Continue Shopping</button>
      </div>
      <div class="electricBoogaloo" id="displayMessage" *ngIf="displayContinueShoppingMessage">
        <h3>Item added to your cart!</h3>
        <button type="button"(click)="continueShoppingWasClicked()" class="btn btn-warning">Continue Shopping</button>
          <button class="btn btn-info"
                  (click)="myCartButtonWasClicked()"> My Cart</button>
      </div>
    </div>
  </div>
</div>
