<div id="main">
  <div class="parent">
    <div class="child">
      <h3>SIGN IN</h3>
      <div class="form">
        <div>
          <input id="username" placeholder=" * EMAIL">
        </div>
        <div>
          <input id="password" placeholder=" * PASSWORD">
        </div>
          <button class="btn btn-info userLogin" (click)="userLogin">Log In</button>
      </div>
    </div>
    <div class="child">
      <h3>REGISTER</h3>
      <div class="form">
        <div>
          <input id="username" placeholder=" * EMAIL">
        </div>
        <div>
          <input id="password" placeholder=" * PASSWORD">
        </div>
        <div>
          <input id="password" placeholder=" * CONFIRM PASSWORD">
        </div>
          <button class="btn btn-info" (click)="createAccount">Register</button>
      </div>
    </div>
  </div>
</div>
