<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<h2>Contact Us</h2>
<div class="container">
  <p>Our dedicated team is always here to help and care for you.<br> <br>

  Let us know if you have any questions or concerns!</p>
  <img  id="signature" src="../src/resources/imgs/massah_signature.png" alt="signature">
  <div class="contact-form form-vertical">
    <form action="mailto:abukhater.haneen@gmail.com" class="contact_form"  method="post" enctype="text/plain">
      <div class="grid grid--half-gutters">
        <div class="grid__item meduim-up--one-half">
          <label for="contactFormName">Name</label>
          <input type="text" id="contactFormName" value="">
        </div>
        <div class="grid__item meduim-up--one-half">
          <label for="contactFormEmail">Email</label>
          <input type="email" id="contactFormEmail" value="" autocorrect="off">
        </div>
        <div class="grid__item meduim-up--one-half">
          <label for="contactFormPhone">Phone Number</label>
          <input type="tel" id="contactFormPhone" value="" pattern="[0-9\-]*">
        </div>
        <div class="grid__item meduim-up--one-half">
          <label for="contactFormMessage">Message</label>
          <textarea name="name" id="contactFormMessage"
          cols="100"
          rows="4"></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-primary waves-effect">Submit</button>
    </form>
  </div>
</div>
