.flexy {
    font-family: sans-serif;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    overflow: auto;
  }
  .flexin {
    flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ];
    max-width: 30%;
    flex-basis: 33%;
  }