<div class="slide container">
  <div class="css-slideshow">
    <figure>
      <img src={{welcome1}} />
       <figcaption><strong></strong> </figcaption>
    </figure>
    <figure>
      <img src={{welcome2}} />
      <figcaption><strong></strong> </figcaption>
    </figure>
    <figure>
      <img src={{welcome3}} />
       <figcaption><strong></strong> </figcaption>
    </figure>
    <figure>
      <img src={{welcome4}}  />
      <figcaption><strong></strong> </figcaption>
    </figure>
  </div>
</div>
