<div class="slide container">
  <div class="css-slideshow">
    <figure>
      <img src="src/resources/imgs/welcome1.jpg" />
       <figcaption><strong></strong> </figcaption>
    </figure>
    <figure>
      <img src="src/resources/imgs/welcome2.jpg" />
      <figcaption><strong></strong> </figcaption>
    </figure>
    <figure>
      <img src="src/resources/imgs/welcome3.jpg" />
       <figcaption><strong></strong> </figcaption>
    </figure>
    <figure>
      <img src="src/resources/imgs/welcome4.jpg"  />
      <figcaption><strong></strong> </figcaption>
    </figure>
  </div>
</div>
