<div class="css-slideshow">
  <figure>
    <img src="https://i.pinimg.com/736x/e0/bd/57/e0bd57cb0484e000c87f73d99a463003--istanbul-market-grand-bazaar-istanbul.jpg" width="495" height="370" />
     <figcaption><strong></strong> market</figcaption>
  </figure>
  <figure>
    <img src="https://d2gg9evh47fn9z.cloudfront.net/thumb_COLOURBOX10795029.jpg" width="495" height="370" />
    <figcaption><strong></strong> scarves</figcaption>
  </figure>
  <figure>
    <img src="https://i.pinimg.com/736x/e0/bd/57/e0bd57cb0484e000c87f73d99a463003--istanbul-market-grand-bazaar-istanbul.jpg" width="495" height="370" />
     <figcaption><strong></strong> market</figcaption>
  </figure>
  <figure>
    <img src="https://d2gg9evh47fn9z.cloudfront.net/thumb_COLOURBOX10795029.jpg" width="495" height="370" />
    <figcaption><strong></strong> scarves</figcaption>
  </figure>
  <br>
  <br>
</div>
