.flexParent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 70px;
  margin-top: 50px;
}
.flexChild {
  align-self: auto;
  max-width: 30%;
  margin: auto;
}
.itemInfo {
  display: block;
  margin-left: 5px;
  margin: auto;
}

.itemDetails {
  font-weight: 200;
}

img {
  width: 50%;
  height: 30%;
}