<div class="flexParent">
  <div class="flexChild panel panel-default">
    <div class="panel-heading">JERSEY WHITE</div>
    <div class="panel-body">
      <img src="http://via.placeholder.com/150x150">
      <div class="itemInfo">
        <h5>Color: <span class="itemDetails">White</span></h5>
        <h5>Qty: <span class="itemDetails">1</span></h5>
        <h5>Price: $ <span class="itemDetails">14</span></h5>
        <button class="btn btn-info">Remove</button>
      </div>
    </div>
  </div>
  <div class="flexChild panel panel-default">
    <div class="panel-heading">JERSEY WHITE</div>
    <div class="panel-body">
      <img src="http://via.placeholder.com/150x150">
      <div class="itemInfo">
        <h5>Color: <span class="itemDetails">White</span></h5>
        <h5>Qty: <span class="itemDetails">1</span></h5>
        <h5>Price: $ <span class="itemDetails">14</span></h5>
        <button class="btn btn-info">Remove</button>
      </div>
    </div>
  </div>
  <div class="flexChild panel panel-default">
    <div class="panel-heading">JERSEY WHITE</div>
    <div class="panel-body">
      <img src="http://via.placeholder.com/150x150">
      <div class="itemInfo">
        <h5>Color: <span class="itemDetails">White</span></h5>
        <h5>Qty: <span class="itemDetails">1</span></h5>
        <h5>Price: $ <span class="itemDetails">14</span></h5>
        <button class="btn btn-info">Remove</button>
      </div>
    </div>
  </div>
</div>

  <!-- Summary -->
<div class="childSummary container panel panel-default">
    <div class="panel-heading">SUMMARY</div>
    <div class="panel-body summary">
      <h5>Delivery address: <br><span class="itemDetails">250 Del Medio Ave, apt. 307 <br>Mountain View, CA 97225</span></h5>
      <h5>Total: $ <span class="itemDetails">28</span></h5>
    <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" />
    </div>
</div>
