<div class="flexParent">
  <div class="flexChild" *ngIf="!objectsArray">
    <h2>Your cart appears to be empty.</h2>
    <button class="btn btn-outline-primary" routerLink="/products/all">Shop Now!</button>
  </div>
  <div *ngFor="let item of objectsArray"  class="flexChild panel panel-default">
    <div class="panel-heading">
      <p>{{item.Title}}</p>
    </div>
    <div class="panel-body">
      <img src={{item.Image_Src}} alt="">
      <div class="itemInfo">
          <h5>Color: <span class="itemDetails"></span></h5>
          <div class="qty">
            <label>Qty</label>
            <input #quantity id="quantity" type="number" value={{item.quantityInCart}} min="1">
          </div>
          <h5>Price: $ <span class="itemDetails">{{item.Variant_Price}}</span></h5>
          <h5>subTotal: $ {{item.quantityInCart * item.Variant_Price}}</h5>
          <button class="btn btn-info" (click)="updateButtonWasClicked(item, quantity.value)">Update</button>
      </div>
    </div>
  </div>
</div>
<app-checkout [checkoutSubtotal]="subTotal"></app-checkout>
