<div class="outer">
    <div class="item">
      <ul>
        <li>
          <a routerLink="about">About Us</a>
        </li>
        <li>
          <a routerLink="products/scarf">Scarves</a>
        </li>
        <li>
          <a routerLink="products/accessories">Accesories</a>
        </li>
      </ul>
    </div>
    <div class="item">
      <p>
        <a routerLink="contact">Contact Us</a>
      </p>
      <p>Follow Us On Media</p>
      <div id="social-icons">
        <a href="https://www.facebook.com/massahcollection/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/massahco" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/massahc/" class="fa fa-instagram"></a>
      </div>
    </div>
  </div>