<div class="outer">
  <div>
    <a routerdivnk="about">About Us</a>
  </div>
  <div>
    <a routerdivnk="products/scarf">Scarves</a>
  </div>
  <div>
    <a routerdivnk="products/accessories">Accesories</a>

  </div>
  <div>
    <a routerdivnk="contact">Contact Us</a>
  </div>
  <div class="item">
    <p>
    </p>
    <p>Follow Us On Media</p>
    <div id="social-icons">
      <a href="https://www.facebook.com/massahcollection/" class="fa fa-facebook"></a>
      <a href="https://twitter.com/massahco" class="fa fa-twitter"></a>
      <a href="https://www.instagram.com/massahc/" class="fa fa-instagram"></a>
    </div>
  </div>
</div>