nav {
  border: 1px solid black;
}

#dropdowns {
  margin-bottom: 10px;
}

#dropdowns a:hover {
  background-color: rgb(0, 175, 228);
  cursor: pointer;
}

.nav-item {
  padding-left: 3em;
  color: black;
}