a {
  color: black;
}

.dropdown-item {
  padding-left: 20px;
}
.d-inline-block .dropdown-item:first-child {
  margin-top: 10px;
}
.d-inline-block p:hover {
  background-color: rgb(0, 175, 228);
  cursor: pointer;
}
.navbar-right {
  margin-right: 12px;
}

nav {
  border: 1px solid black;
}
nav ul:first-child {
  float: left;
}

nav ul:first-child li:not(:first-child) {
  padding-top: 5px;
}

.nav-item {
  padding-left: 3em;
  color: black;
}
