<nav class="navbar">
  <ul class="nav">
    <li class="nav-item">
      <a routerLink="">
        <img src="{{logoURI}}" width="30" height="30"  alt="Massah Collection">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="about">About</a>
    </li>
    <li ngbDropdown class="d-inline-block">
      <a ngbDropdownToggle>Collections</a>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" id="dropdowns">
        <p routerLink="products/all" class="dropdown-item">All
        </p>
        <p class="dropdown-item" routerLink="products/scarf">
        Scarfs
        </p>
        <p class="dropdown-item" routerLink="products/accessories">
        Accessories
        </p>
      </div>
    </li>
  </ul>
  <ul class="nav">
    <li class="nav-item">
      <a routerLink="contact">Contact Us</a>
    </li>
    <li class="nav-item" id="cart">
      <a routerLink="cart">
        <span class="glyphicon glyphicon-shopping-cart"></span> My Cart</a>
    </li>
    <!-- <li *ngIf="isLoggedIn"> {% endcomment %}
      <a>{{userName}}</a>
      <a (click)="logout()">
        <span class="glyphicon glyphicon-user"></span>Log out</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a (click)="login()">
        <span class="glyphicon glyphicon-user"></span>Log in</a>
    </li> -->
  </ul>
</nav>
