<div class="flexParent">
  <div class="flexChild container" *ngIf="!objectsArray">
    <h2>Your cart appears to be empty.</h2>
    <button class="btn btn-outline-primary" routerLink="/products/all">Shop Now!</button>
  </div>
  <div *ngFor="let item of objectsArray" class="flexChild container panel panel-default">
    <div class="panel-heading">{{item.Title}}</div>
    <div class="panel-body">
      <img src={{item.Image_Src}} alt="" width="150px" height="150px">
      <div class="itemInfo">
        <h5>Color:
          <span class="itemDetails"></span>
        </h5>
        <div class="qty">
          <label>Qty</label>
          <select #quantity name={{item.Title}}>
            <option value={{num}} *ngFor="let num of nums" [selected]="num==item.quantityInCart">{{num}}</option>
          </select>
        </div>
        <h5>Price: $
          <span class="itemDetails">{{item.Variant_Price}}</span>
        </h5>
        <h5>subTotal: $ {{item.quantityInCart * item.Variant_Price}}</h5>
        <button class="btn btn-info" (click)="updateButtonWasClicked(item, quantity.value)">Update</button>
        <button class="btn btn-warning" (click)="productWasClicked(item)">Details</button>
      </div>
    </div>
  </div>
</div>


<!-- Summary -->
<br>
<br>
<div class="childSummary container panel panel-default">
  <div class="panel-heading">Payment with Stripe coming soon!</div>
  <div class="panel-body">
    <h5>Delivery address:
      <br>
      <span class="itemDetails">250 Del Medio Ave, apt. 307
        <br>Mountain View, CA 97225</span>
    </h5>
    <h2 *ngIf="subTotal">Total: {{subTotal}}</h2>
    <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" />
  </div>
</div>
<br>
<br>
