.flexParent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 70px;
  margin-top: 50px;
}
@media only screen and (max-width: 518px) {
  .panel-default {
    width: 100%;
  }
}

.flexChild:hover {
  cursor: pointer;
}
.panel {
  width: 50%;
  text-align: center;
  max-width: 600px;
}
.itemInfo {
  display: block;
  float: right;
  margin-left: 5px;
}

.panel-heading {
  margin-top: .4em;
  font-size: 2em;
  color: red;
}


