<h1>Welcome to Massah</h1>
<app-carousel></app-carousel>
<div class="shop-now">
  <a routerLink="products/all">
    <button class="btn btn-primary btn-lg" routerLink="products/all">Shop Now</button>
  </a>
</div>
<hr>
<div class="flexy container">
  <div class="container flexin">
    <figure>
      <img src="https://static01.nyt.com/images/2016/11/03/fashion/03ISLAMICFASHIONJP2/03ISLAMICFASHION-WEB3-master675.jpg" alt="Image from ">
      <figcaption>Featured Article</figcaption>
    </figure>
  </div>
  <div class="container flexin">
    <figure>
      <img src="https://i.pinimg.com/736x/25/df/34/25df342a05dcbf20a1d8192e8fa94ede--hijab-styles-islamic.jpg" alt="Image from ">
      <figcaption>New Fall Collection</figcaption>
    </figure>
  </div>
  <div class="container flexin">
    <figure>
      <img src="https://humanbehaviorblog.files.wordpress.com/2012/03/scarves2.jpg?w=720" alt="Image from ">
      <figcaption>Closeout Sale</figcaption>
    </figure>
  </div>
</div>
